.info {
    margin: 20px;

    @media (min-width: 440px) {
        margin: 30px;
    }
}

.abilities {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 10px;
    flex-direction: column;

    @media (min-width: 980px) {
        flex-direction: row;
    }
}

.item {
    display: flex;
    flex-direction: column;
}

.ability {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #BEBEBE;
}

.name {
    margin: 10px 10px 10px 0;
    font-size: 14px;
    width: 70%;

    @media (min-width: 440px) {
        font-size: 16px;
    }
    @media (min-width: 980px) {
        width: 170px;
        font-size: 14px;
    }
    @media (min-width: 1280px) {
        width: 200px;
        font-size: 16px;
    }
}

.soft_skills {
    margin-top: 40px;
}

.soft {
    position: relative;
    padding-left: 20px;
    width: auto;
    margin-bottom: 25px;
    font-size: 15px;

    @media (min-width: 1280px) {
        font-size: 16px;
    }
}

.soft::before {
    content: "";
    position: absolute;
    top: 5px; left: 0;
    width: 10px; 
    height: 10px;
    border-radius: 50%;
    background-color: #FFD033;
}

.level {
    color: #BEBEBE;
    margin: 10px 0;
    font-size: 14px;
    
    @media (min-width: 440px) {
        font-size: 16px;
    }
    @media (min-width: 980px) {
        font-size: 14px;
    }
    @media (min-width: 1280px) {
        font-size: 16px;
    }
}

.switches {
    display: flex;

    .true,
    .false {
        width: 11px;
        height: 11px;
        background-color: #FFD033;
        border-radius: 50%;
        margin-right: 7px;

        @media (min-width: 440px) {
            margin-right: 11px;
            width: 13px;
            height: 13px;
        }
    }

    .true {
        opacity: 1;
    }

    .true:last-child {
        margin-right: 0;
    }

    .false {
        opacity: 0.6;
    }

    .false:last-child {
        margin-right: 0;
    }
}

.heading {
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 19px;

    @media (min-width: 1280px) {
        font-size: 20px;
    }
}


.heading::before {
    content: "";
    position: absolute;
    top: 15px; left: 0;
    width: 70px; 
    height: 100%;
    border-bottom: 3px dashed #FFD033;
}


.text {
    color: #111;
    line-height: 32px;
    margin: 0 0 10px;
    font-size: 15px;

    @media (min-width: 440px) {
        font-size: 16px;
    }
    @media (min-width: 1280px) {
        font-size: 17px;
    }
}

.facts {
    margin-bottom: 90px;

    @media (min-width: 980px) {
        margin-bottom: 50px;
    }
}

.facts_content {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

    @media (min-width: 620px) {
        justify-content: space-around;
    }
}

.like,
.year,
.medal {
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    @media (min-width: 620px) {
        width: 60px;
        height: 60px;
    }
    @media (min-width: 1280px) {
        width: 70px;
        height: 70px;
    }
}

.like {
    background-image: url(../../../images/background/like.svg);
}

.year {
    background-image: url(../../../images/background/year.svg);
}

.medal {
    background-image: url(../../../images/background/medal.svg);
}

.fact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.number {
    font-weight: 500;
    border-bottom: 1.5px solid #FFD033;
    min-width: 15px;
    padding-bottom: 15px;
    margin: 15px 0;
    text-align: center;
    font-size: 22px;

    @media (min-width: 620px) {
        font-size: 25px;
    }
    @media (min-width: 1280px) {
        font-size: 28px;
    }
}

.achievement {
    color: #666;
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.5px;

    @media (min-width: 440px) {
        font-size: 15px;
        letter-spacing: initial;
    }
}