.whrapper {
    display: flex;
    width: 100%;
}

.navigation {
    z-index: 10;

    @media (min-width: 980px) {
        min-width: 25%;
        box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
    }
}

.contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ECF0F1;

    @media (min-width: 980px) {
        align-items: start;
        margin-left: 25%;
        width: 75%;
        padding: 50px 0 50px 50px;
    }
}

.content {
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
    padding: 20px 20px 45px;

    @media (min-width: 440px) {
        padding: 30px 30px 45px;
    }
    @media (min-width: 980px) {
        width: 670px;
        padding: 30px;
        height: 100vh;
    }
    @media (min-width: 1280px) {
        width: 770px;
    }
}

.content_whrapper {
    display: flex;
}

.touch {
    width: 50%;
    margin-right: 50px;
}

.picture {
    display: none;

    @media (min-width: 620px) {
        display: block;
        width: 50%;
        background-image: url(../../images/background/edit.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
}

.info {
    margin-top: 5px;
}

.heading {
    display: inline-block;
    width: 100%;
    font-size: 46px;
    border-bottom: 2px solid #EBEBEB;
    padding-bottom: 20px;
    margin: 10px 0 25px;

    @media (min-width: 620px) {
        margin: 0 0 30px;
    }
    @media (min-width: 980px) {
        margin: 0 0 50px;
    }
}

.header {
    display: inline-block;
    position: relative;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 40px;
    width: 200px;
}

.header::before {
    content: "";
    position: absolute;
    top: 15px; left: 0;
    width: 70px; 
    height: 100%;
    border-bottom: 3px dashed #FFD033;
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 34px;
}

.image {
    min-width: 60px;
    min-height: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.image svg {
    width: 50px;
    height: 50px;
    fill: #BEBEBE;
}

.smaller svg {
    width: 35px;
    height: 35px;
    
}

.image:hover svg,
.image:active svg,
.image:focus svg {
    fill: #FFD033;
    transition: 0.3s;
}

.image:hover .bottom_text{
    color: #FFD033;
    transition: 0.3s;
}

.description {
    border-left: 1px solid #BEBEBE;
    padding-left: 10px;
}

.top_text {
    margin: 0 0 10px;
    font-size: 16px;
    font-weight: 500;
    color: #151515;
    min-width: 161px;
}

.bottom_text {
    color: #666;
    min-width: 161px;
}

.bottom_text:hover,
.bottom_text:active,
.bottom_text:focus {
    color: #FFD033;
    transition: 0.3s;
}

