.whapper {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 620px) {
        flex-direction: row;
    }
}