.filter {
    display: flex;
    margin: 0 0 20px 15px;
}

.item {
    margin-right: 10px;
}

.link {
    padding: 0 5px 10px;
    border-bottom: 1.5px solid transparent;
    display: inline-block;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.5px;
    cursor: pointer;
    text-transform: uppercase;
    color: #666;
}

.active {
    border-bottom: 1.5px solid #FFD033;
    color: #000;
    font-weight: 700;
}